.search{
    border: 2px solid white;
    border-radius: 4px;
}

.bodyNav{
    display:  flex;
    flex-direction: row;
    gap: 776px;
    align-items: center;
}

.contain::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
  }

  .contain{
    box-shadow:  4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(145, 120, 120, 0.19);
    background-color:#f1f1f2;


   
  }

  
  